<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express</title>
</head>
<body>
        <ul>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/">Home</a></li>
            </ul>
            {{{ body }}}
           <h1>You're on the contact page</h1> 
           <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, odio provident? Et quis debitis consequuntur a, nihil aliquid assumenda aperiam ab temporibus, rerum commodi quidem magni quod repudiandae, vero mollitia?</h2>
</body>
</html>